<tr id="bug-row-{{id}}" class="bug-row">
    <td class="bug-cell-id">{{id}}</td>
    <td class="bug-cell-summary">{{summary}}</td>
    <td class="bug-cell-assignee hidden-xs">{{assignee_id}}</td>
    <td class="bug-cell-priority hidden-xs">{{priority}}</td>
    <td class="bug-cell-status hidden-xs">{{status}}</td>
    <td class="bug-cell-view hidden-xs clickable">
        <a href="{{show_link}}"><span class="glyphicon glyphicon-eye-open no-link-style"></span></a>
    </td>
    <td class="bug-cell-edit hidden-xs clickable">
        <a href="{{edit_link}}"><span class="glyphicon glyphicon-pencil no-link-style"></span></a>
    </td>
</tr>