<!DOCTYPE html>
<html>
    <head>
      <title>Bugtracker</title>
      <%= stylesheet_link_tag "layouts/bugs", get_relative_asset_path, media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", get_relative_asset_path, "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">BugTracker</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="<%= project_bugs_feed_path %>">Feed</a></li>
                        <li><a href="<%= project_bugs_path %>">Bug List</a></li>
                        <li><a href="<%= new_project_bug_path %>">File a Bug</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="<%= projects_path %>">Change Project</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">User <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">View Profile</a></li>
                                <li><a href="#">Manage Projects</a></li>
                                <li><a href="#">Account Settings</a></li>
                                <li class="divider"></li>
                                <li><a href="<%= logout_path %>"><span class="glyphicon glyphicon-lock"></span> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="navbar navbar-positioner"></div>

        <div class="container-fluid">
            <div class="row-fluid">
                <%= yield %>
            </div>
        </div>
    </body>
</html>
